SI-2.0.json
{
  "name": "SI-2.0",
  "nodes": [
    {
      "parameters": {
        "url": "=http://212.237.219.35:8080/students/14/cms/spares",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $pageCount }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount }}"
                  }
                ]
              }
            }
          }
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        144,
        -32
      ],
      "id": "fafb9808-3202-442a-9ffa-4ad9ac5ebe37",
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -32
      ],
      "id": "d50de101-8624-41a2-812b-151ced894a25",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  try {\n    const json = item.json;\n\n    const spareCode = json.spareCode || json.spare_code || json.code || '';\n    const spareName = json.spareName || json.spare_name || json.name || '';\n    const spareDescription = json.spareDescription || json.spare_description || json.description || '';\n    const spareType = json.spareType || json.spare_type || json.type || '';\n    const spareStatus = json.spareStatus || json.spare_status || json.status || '';\n    const price = json.price || 0;\n    const quantity = json.quantity || 0;\n    const updatedAt = json.updatedAt || json.updated_at || new Date().toISOString();\n\n    if (!spareCode || !spareName) {\n      continue;\n    }\n\n    processedItems.push({\n      spare_code: String(spareCode),\n      spare_name: String(spareName),\n      spare_description: String(spareDescription || ''),\n      spare_type: String(spareType || ''),\n      spare_status: String(spareStatus || ''),\n      price: Number(price),\n      quantity: Number(quantity),\n      updated_at: updatedAt,\n      is_active: true,\n      last_sync_at: new Date().toISOString()\n    });\n  } catch (error) {\n  }\n}\n\nreturn processedItems.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -32
      ],
      "id": "37d38e3e-6847-4287-88fe-cfaaea66c29b",
      "name": "Process CMS Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE spare_parts \nSET is_active = false, \n    last_sync_at = NOW() \nWHERE is_active = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        -32
      ],
      "id": "476f71e7-5d42-46a1-85f8-cc130695e9bf",
      "name": "Mark All Inactive",
      "credentials": {
        "postgres": {
          "id": "Vo8LadIRr01jrhNm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "spare_parts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "spare_code": "={{ $json.spare_code }}",
            "spare_name": "={{ $json.spare_name }}",
            "spare_description": "={{ $json.spare_description }}",
            "spare_type": "={{ $json.spare_type }}",
            "spare_status": "={{ $json.spare_status }}",
            "price": "={{ $json.price }}",
            "quantity": "={{ $json.quantity }}",
            "updated_at": "={{ $json.updated_at }}",
            "is_active": "={{ $json.is_active }}",
            "last_sync_at": "={{ $json.last_sync_at }}"
          },
          "matchingColumns": [
            "spare_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "spare_code",
              "displayName": "spare_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spare_name",
              "displayName": "spare_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_description",
              "displayName": "spare_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_type",
              "displayName": "spare_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_status",
              "displayName": "spare_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_sync_at",
              "displayName": "last_sync_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -32
      ],
      "id": "aea54f67-6605-4c79-a027-6a9384a9e7b0",
      "name": "Upsert Active Parts",
      "credentials": {
        "postgres": {
          "id": "Vo8LadIRr01jrhNm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    spare_code,\n    spare_name,\n    spare_description,\n    spare_type,\n    spare_status,\n    price,\n    quantity,\n    updated_at\nFROM spare_parts \nORDER BY spare_code;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        224
      ],
      "id": "0753ef91-c825-48c1-84c1-7fb4501af057",
      "name": "Get Active Parts For CSV",
      "credentials": {
        "postgres": {
          "id": "Vo8LadIRr01jrhNm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { csv: '' } }];\n}\n\n// Сортируем элементы по spare_code\nconst sortedItems = [...items].sort((a, b) => {\n  const codeA = (a.json.spare_code || '').toString().toUpperCase();\n  const codeB = (b.json.spare_code || '').toString().toUpperCase();\n  \n  const numA = parseInt(codeA.replace(/[^\\d]/g, '') || '0');\n  const numB = parseInt(codeB.replace(/[^\\d]/g, '') || '0');\n  \n  return numA - numB;\n});\n\nconst rows = sortedItems.map(i => {\n  const json = i.json;\n  return [\n    json.spare_code || '',\n    json.spare_name || '',\n    json.spare_description || '',\n    json.spare_type || '',\n    json.spare_status || '',\n    Number(json.price || 0).toString(),\n    Number(json.quantity || 0).toString(),\n    json.updated_at || new Date().toISOString()\n  ].map(field => {\n    const strField = String(field);\n    if (strField.includes(';') || strField.includes('\"') || strField.includes('\\n')) {\n      return `\"${strField.replace(/\"/g, '\"\"')}\"`;\n    }\n    return strField;\n  }).join(\";\");\n});\n\nconst csvContent = rows.join(\"\\n\") + \"\\n\";\n\nreturn [{ json: { csv: csvContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        224
      ],
      "id": "fa69ae5f-4dfe-403b-8b20-c136532cc6db",
      "name": "Build CSV With Header"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/14/report/csv",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv; charset=utf-8",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        224
      ],
      "id": "e9453f33-f957-4af6-af6a-dc0b31eae812",
      "name": "Send CSV to Report API"
    },
    {
      "parameters": {
        "content": "### Поток данных №1\n\nинтеграционное приложение, вызывает CMS по API и получает набор данных (внимание, может быть пагинация). Далее интеграционное приложение сравнивает полученный набор, с данными в БД для хранения исторических данных. Записи в БД добавляются и обновляются.\n",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -192
      ],
      "typeVersion": 1,
      "id": "84b52077-7498-4e42-961e-682afc1a15f7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Поток данных №2\n\nинтеграционное приложение, на основе данных в БД хранения исторических данных, формирует файл CSV. Данный файл отправляется в Report API. Особое внимание требуется уделить формату csv файла. Файл должен быть в кодировке UTF-8, а разделяющий символ для csv - \";\"",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        176
      ],
      "typeVersion": 1,
      "id": "fcab06ac-9d84-4c01-a65f-45f1794e758d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        224
      ],
      "id": "69be4f6e-3da7-47bb-9d57-996158198b23",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Process CMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mark All Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process CMS Data": {
      "main": [
        [
          {
            "node": "Upsert Active Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark All Inactive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Parts For CSV": {
      "main": [
        [
          {
            "node": "Build CSV With Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CSV With Header": {
      "main": [
        [
          {
            "node": "Send CSV to Report API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Active Parts For CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Yekaterinburg",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8734f60f-ecdd-4148-b891-27f11be21b80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f87382886a5d843c66093e8118775bd21ce456b80ee5ff4a248b76685a90346f"
  },
  "id": "X8wmJ2S7IBT5RPMD",
  "tags": []
}