SI-2.0.json
{
  "name": "SI-2.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        208
      ],
      "id": "bd0298da-84e7-4f41-bfea-6ccb8f6e5647",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nlet page = 0;\nconst size = 10;\n\nwhile (true) {\n  const url = `http://212.237.219.35:8080/students/14/cms/spares?page=${page}&size=${size}`;\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: \"GET\",\n      url,\n      json: true,\n      timeout: 30000\n    });\n\n    if (!response || response.length === 0) {\n      break;\n    }\n\n\n    for (const item of response) {\n      results.push({ json: item });\n    }\n\n    page += 1;\n    if (page > 1000) {\n      break;\n    }\n    \n  } catch (error) {\n    throw error; \n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        208
      ],
      "id": "259dc3fa-45ef-4788-952e-f910e8c1e7f1",
      "name": "Fetch With Pagination"
    },
    {
      "parameters": {
        "jsCode": "$input.all().length;\n\nconst items = $input.all();\nlet processedCount = 0;\nlet errorCount = 0;\n\nconst validatedItems = items.map(item => {\n  try {\n    const json = item.json;\n\n    const spareCode = json.spareCode || json.spare_code || json.code || '';\n    const spareName = json.spareName || json.spare_name || json.name || '';\n    const spareDescription = json.spareDescription || json.spare_description || json.description || '';\n    const spareType = json.spareType || json.spare_type || json.type || '';\n    const spareStatus = json.spareStatus || json.spare_status || json.status || '';\n    const price = json.price || 0;\n    const quantity = json.quantity || 0;\n    const updatedAt = json.updatedAt || json.updated_at || new Date().toISOString();\n\n    if (!spareCode || !spareName) {\n      errorCount++;\n      return null;\n    }\n\n    const processed = {\n      spare_code: String(spareCode),\n      spare_name: String(spareName),\n      spare_description: String(spareDescription),\n      spare_type: String(spareType),\n      spare_status: String(spareStatus),\n      price: Number(price),\n      quantity: Number(quantity),\n      updated_at: updatedAt,\n      last_sync_at: new Date().toISOString(),\n      created_at: new Date().toISOString()\n    };\n\n    processedCount++;\n    return processed;\n  } catch (error) {\n    errorCount++;\n    return null;\n  }\n}).filter(i => i !== null);\n\nreturn validatedItems.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        208
      ],
      "id": "465a63ea-515e-4e30-8c97-44a0e0077cc4",
      "name": "Process & Validate Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "spare_parts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "spare_code": "={{ $json.spare_code }}",
            "spare_name": "={{ $json.spare_name }}",
            "spare_description": "={{ $json.spare_description }}",
            "spare_type": "={{ $json.spare_type }}",
            "spare_status": "={{ $json.spare_status }}",
            "price": "={{ $json.price }}",
            "quantity": "={{ $json.quantity }}",
            "updated_at": "={{ $json.updated_at }}",
            "last_sync_at": "={{ $json.last_sync_at }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "spare_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "spare_code",
              "displayName": "spare_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spare_name",
              "displayName": "spare_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_description",
              "displayName": "spare_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_type",
              "displayName": "spare_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_status",
              "displayName": "spare_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sync_period",
              "displayName": "sync_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_sync_at",
              "displayName": "last_sync_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        208
      ],
      "id": "61f2bed7-861b-4195-bd40-380169a2ae1e",
      "name": "Upsert to DB",
      "credentials": {
        "postgres": {
          "id": "Vo8LadIRr01jrhNm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fiveMinutesAgo = new Date(Date.now() - 5 * 60 * 1000).toISOString();\nreturn [{ json: { fiveMinutesAgo } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        208
      ],
      "id": "453beb9a-de28-4bab-9f81-5dcd0aa4f606",
      "name": "Code Time"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT spare_code, spare_name, spare_description, spare_type, spare_status, price, quantity, updated_at\nFROM spare_parts\nWHERE last_sync_at >= '{{$json.fiveMinutesAgo}}'\nORDER BY spare_code;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        208
      ],
      "id": "2cfd5bac-797e-422c-a9b6-d2869f824b15",
      "name": "Execute SQL",
      "credentials": {
        "postgres": {
          "id": "Vo8LadIRr01jrhNm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst rows = items.map(i => [\n  i.json.spare_code,\n  i.json.spare_name,\n  i.json.spare_description,\n  i.json.spare_type,\n  i.json.spare_status,\n  Number(i.json.price).toString(),\n  Number(i.json.quantity).toString(),\n  i.json.updated_at\n].join(\";\"));\n\nreturn [{ json: { csv: rows.join(\"\\n\") + \"\\n\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        208
      ],
      "id": "c36b68fe-e474-4b00-9409-d21f565a3559",
      "name": "Build CSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/14/report/csv",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv; charset=utf-8",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        208
      ],
      "id": "e155ec7a-81af-47fe-818b-c64c1b6f4d67",
      "name": "Send CSV"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch With Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch With Pagination": {
      "main": [
        [
          {
            "node": "Process & Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Validate Data": {
      "main": [
        [
          {
            "node": "Upsert to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to DB": {
      "main": [
        [
          {
            "node": "Code Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Time": {
      "main": [
        [
          {
            "node": "Execute SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SQL": {
      "main": [
        [
          {
            "node": "Build CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CSV": {
      "main": [
        [
          {
            "node": "Send CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Yekaterinburg",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7032f020-4f5e-4ba6-98a5-acbb018a8310",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f87382886a5d843c66093e8118775bd21ce456b80ee5ff4a248b76685a90346f"
  },
  "id": "X8wmJ2S7IBT5RPMD",
  "tags": []
}